@model IEnumerable<SeguroViagem.Models.AcrescimoTipoViagem>

@{
    ViewBag.Title = "Listar";
}

<br />
<br />
<div class="card container" id="seguradoras" style="width:90rem">
    <div class="card-body">
        <div style="text-align:center">
            <h2>Lista de Acréscimos por Tipo da Viagem</h2>
            <h5>(Nacional)</h5>
        </div>
        <br />

        <table class="container" border="1" style="text-align:center">
            <tr>
                <!-- Id da Seguradora -->
                <th>
                    @Html.DisplayNameFor(model => model.SegId)
                </th>

                <!-- Tipo da Viagem (Nacional) -->
                <th>
                    @Html.DisplayNameFor(model => model.TipoViagem)
                </th>

                <!-- Valor do acréscimo cadastrado-->
                <th>
                    @Html.DisplayNameFor(model => model.AcrescimoViagem)
                </th>
                <th colspan="2"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <!-- Id da Seguradora -->
                    <td>
                        @Html.DisplayFor(modelItem => item.SegId)
                    </td>
                    <!-- Tipo da Viagem (Nacional) -->
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoViagem)
                    </td>
                    <!-- Valor do acréscimo cadastrado-->
                    <td>
                        @Html.DisplayFor(modelItem => item.AcrescimoViagem)
                    </td>

                    <!-- Ícones Editar e Visualizar -->
                    <td style="text-align:center"><a href="/AcrescimoTipoViagem/Atualizar/@item.SegId" class="btn"><i class="fas fa-edit"></i></a>
                    <td><a href="/AcrescimoTipoViagem/Visualizar/@item.SegId" title="" class="btn"><i class="fas fa-info-circle"></i></a>
                </tr>
            }

        </table>


    </div>
</div>
