<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Img/favicon.ico">
    <title>@ViewBag.Title - Minha Página WEB</title>
    <!--@Styles.Render("~/Content/css")-->
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.min.css">


    <!-- Biblioteca Jquery padrão -->
    <!-------------------------------------------------------------------------->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <!-------------------------------------------------------------------------->
    <!-- Biblioteca Jquery para funcionar máscaras -->
    <!-------------------------------------------------------------------------->
    <script src="~/Scripts/inputmask/inputmask.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/inputmask/inputmask.extensions.js"></script>
    <script src="~/Scripts/inputmask/inputmask.date.extensions.js"></script>
    <script src="~/Scripts/inputmask/inputmask.numeric.extensions.js"></script>
    <!-------------------------------------------------------------------------->
    <!-- Biblioteca ícones, css -->
    <!-------------------------------------------------------------------------->
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <!-------------------------------------------------------------------------->

</head>
<body>
    <nav style="background-color:lightblue;" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="http://www.benhurseguros.com.br/"><img src="~/Content/Img/Logos/Logo1 - Benhur.png" alt="Ben-Hur" width="60" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Barra de navegação -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link">@Html.ActionLink("Início", "Inserir", "Cotacao")</li>
                <li class="nav-link">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>

                <!-- Se estiver logado aparece a aba Cadastro na navegação -->
                @if (Session["userID"] != null)
                {
                    <li class="nav-link">@Html.ActionLink("Seguradoras", "Listar", "Seguradora")</li>
                    <li class="nav-link">@Html.ActionLink("Cotações", "Listar", "Cotacao")</li>
                    @*<li class="nav-link">@Html.DropDownList("Acréscimos", new SelectList(Enum.GetValues(typeof(SeguroViagem.Models.Seguradora.Acrescimo))), "Acréscimo", new { @class = "" })</li>*@
                    <li class="nav-link">
                        @Html.DropDownList("url", new SelectList(new[]
                            {
                            new SelectListItem { Text = "Tipo da Viagem", Value = Url.Action("AnyPage", "Home") },
                            new SelectListItem { Text = "Meio de Transporte", Value = Url.Action("Listar", "AcrescimoMeioTransporte") },
                            new SelectListItem { Text = "Motivo da Viagem", Value = Url.Action("Listar", "AcrescimoMotivoViagem") },                            
                            }, "Value", "Text"),
                            "Acréscimos",
                            new { id = "urlddl" }
                            )
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </nav>
    <div class="container body-content">
        <!-- RenderBody é aonde entra a página (view) que a gente cria.-->
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    <!-- @Scripts.Render("~/bundles/jquery") -->

    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $('#urlddl').change(function () {
                var url = $(this).val();
                if (url != null && url != '') {
                    window.location.href = url;
                }
            });
        });
    </script>
</body>
</html>
