@model SeguroViagem.ViewModel.ImpressaoViewModel

@{
    ViewBag.Title = "Dados";
    Layout = null;
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seguradora.NomeSeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cotacao.CotId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contato1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contato2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profissao)
        </th>*@

    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.Seguradora.NomeSeg)
        </td>
        <td>
            @Html.DisplayFor(model => model.Cotacao.CotId)
        </td>
        @*<td>
            @Html.DisplayFor(model => model.CPF)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(model => model.Sexo)
        </td>
        <td>
            @Html.DisplayFor(model => model.CEP)
        </td>
        <td>
            @Html.DisplayFor(model => model.Endereco)
        </td>
        <td>
            @Html.DisplayFor(model => model.Numero)
        </td>
        <td>
            @Html.DisplayFor(model => model.Complemento)
        </td>
        <td>
            @Html.DisplayFor(model => model.Bairro)
        </td>
        <td>
            @Html.DisplayFor(model => model.Estado)
        </td>
        <td>
            @Html.DisplayFor(model => model.Cidade)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Contato1)
        </td>
        <td>
            @Html.DisplayFor(model => model.Contato2)
        </td>
        <td>
            @Html.DisplayFor(model => model.Profissao)
        </td>*@
    </tr>


</table>
