@model SeguroViagem.ViewModel.PagamentoViewModel
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class="card container" style="width: 24rem">
    <div class="card-body">
        <form action="/ALTERAR/ALTERAR" style="text-align:center">

            <h2 style="text-align:center">Dados para Pagamento:</h2>
            <br />
            <div class="form-row">
                <!-- Img bandeiras aceitas -->
                <div class="form-group col-md-12" style="text-align:right">
                    <img src="~/fonts/Ícones/visa.png" width="32" />
                    <img src="~/fonts/Ícones/mastercard.png" width="32" />
                </div>

                <!-- Campo Nome do Cartão -->
                <div class="form-group col-md-12 container">
                    @Html.LabelFor(model => model.NomeCartao)
                    @Html.EditorFor(model => model.NomeCartao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome no Cartão" } })
                </div>
            </div>

            <!--Campo Numero do cartão -->
            <div class="form-row">
                <div class="form-group col-md-8">
                    @Html.LabelFor(model => model.NumeroCartao)
                    @Html.EditorFor(model => model.NumeroCartao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Número Cartão" } })
                </div>

                <!-- Campo Código de Segurança -->
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.CodSeguranca)
                    @Html.EditorFor(model => model.CodSeguranca, new { htmlAttributes = new { @class = "form-control", @placeholder = "Código Segurança" } })
                </div>
            </div>


            <!-- Campo de validade-->
            <div class="form-row">
                <label class="form-group col-sm-4">Validade:</label>
                <!-- Mês -->
                <label class="col-md-4">
                    @Html.EditorFor(model => model.ValidadeMes, new { htmlAttributes = new { @class = "form-control", @placeholder = "06" } })<br />
                </label>
                <!-- Ano -->
                <label class="col-md-4">
                    @Html.EditorFor(model => model.ValidadeAno, new { htmlAttributes = new { @class = "form-control", @placeholder = "2022" } })<br />
                </label>
            </div>

            <button style="float:left" type="submit" class="btn btn-primary" >Pagar</button>
        </form>
    </div>
</div>





