@using SeguroViagem.Models.Enum
@model SeguroViagem.Models.Cotacao


@{
    ViewBag.Title = "Cotação";


}


<meta name="viewport" content="width=device-width" />
<title>Inserir</title>


@using (Html.BeginForm("Inserir", "Cotacao", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <div class="FormCotacao container" style="width:750px" id="FormularioCotacao">
        <div class="card ">
            <div class="card-body">
                <
                <!-- Logo Benhur -->
                <img style="float:right" src="~/Content/Img/Logos/Logo1 - Benhur.png" width="150" />
                <br />
                <h1 style="text-align:left"> Cotação de Seguro Viagem </h1>
                <br />

                <div class="row">
                    <div class="col-md-5">
                        <!-- Origem -->
                        @Html.DropDownListFor(m => m.OrigemId, Model.EstadoLista, "Origem", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrigemId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <!-- Destino -->
                        @Html.DropDownListFor(m => m.DestinoId, Model.EstadoLista, "Destino", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DestinoId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />

                <!-- Radio Button dos Tipos de Viagem (nacional) -->
                <div class="row">
                    <h2 class="col-form-label col-sm-4 pt-0" style="font-size:30px">Tipo da Viagem:</h2>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" style="font-size:25px">
                            @foreach (var tipo in Enum.GetValues(typeof(TipoViagemEnum)))
                            {
                                
                                @Html.RadioButtonFor(model => model.TipoViagem, tipo, new { @class = "form-check-input", @checked=true }) @tipo<br />

                            }
                            @Html.ValidationMessageFor(model => model.TipoViagem, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <br />

                <!-- Radio Button Meios de Transportes (aéreo, marítimo ou ambos) -->
                <div class="form-group row">
                    <h2 class="col-form-label col-sm-4 pt-0" style="font-size:30px">Meio de Transporte:</h2>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" style="font-size:25px">
                            @foreach (var meio in Enum.GetValues(typeof(MeioTransporteEnum)))
                            {
                                @Html.RadioButtonFor(model => model.MeioTransporte, meio, new { @class = "form-check-input", @checked=true }) @meio<br />

                            }
                            @Html.ValidationMessageFor(model => model.MeioTransporte, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <br />


                <!-- Radio Button para os Motivos (lazer, estudo e negócios)-->
                <div class="form-group row">
                    <h2 class="col-form-label col-sm-4 pt-0" style="font-size:30px">Motivo da Viagem:</h2>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" style="font-size:25px">
                            @foreach (var motivo in Enum.GetValues(typeof(MotivoViagemEnum)))
                            {
                                @Html.RadioButtonFor(model => model.MotivoViagem, motivo, new { @class = "form-check-input", @checked=true }) @motivo<br />

                            }
                            @Html.ValidationMessageFor(model => model.MotivoViagem, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <br />

                <!-- Data de Ida e Data de Volta -->
                <div class="form-row">
                    <div class="col-md-5">
                        <h5 class="col" style="font-size:30px"><b> Data da Ida: </b></h5>
                        @Html.TextBoxFor(model => model.Ida, new { type = "text", value = "2", id = "ida", @class = "form-control col-md-9" })
                        @Html.ValidationMessageFor(model => model.Ida, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="col-md-5">
                        <h5 class="col" style="font-size:30px"><b> Data da Volta:</b></h5>
                        @Html.TextBoxFor(model => model.Volta, new { type = "text", value = "2", id = "volta", @class = "form-control col-md-9" })
                        @Html.ValidationMessageFor(model => model.Volta, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />

                <!-- Quantidade de Viajantes -->
                <div class="form-inline">
                    <h5 style="font-size:30px;"> Quantidade de Viajante: </h5>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.QtdeViajantes, Model.TypeList)
                        @Html.ValidationMessageFor(model => model.QtdeViajantes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />

                <!-- Botão Salvar -->
                <input type="submit" name="salvar" value="Salvar" class="btn-lg  btn-primary" />

            </div>
        </div>
    </div>

    <br />


}

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#ida").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            minDate: new Date(),
            numberOfMonths: 1,

            onSelect: function (selected) {
                $("#volta").datepicker("option", "minDate", selected)
            }

        }).attr("value", "").attr("placeholder", "dd-mm-yy")
        $("#volta").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            minDate: new Date(),
            numberOfMonths: 1, // Nº de meses que irá aparecer na tela.

            onSelect: function (selected) {
                $("#ida").datepicker("option", "maxDate", selected)
            }
        }).attr("value", "").attr("placeholder", "dd-mm-yy");
    });
</script>
