@model SeguroViagem.Models.Cotacao

@{
    ViewBag.Title = "Remover";
}

<br />
<br />
<div class="card container" id="seguradoras" style="width:36rem">
    <div class="card-body">
        <h2 style="color:red">Remover Cotação</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Ida)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ida)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Volta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Volta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.QtdeDias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.QtdeDias)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.QtdeViajantes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.QtdeViajantes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrigemId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrigemId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DestinoId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DestinoId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoViagem)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoViagem)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MotivoViagem)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MotivoViagem)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MeioTransporte)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MeioTransporte)
                </dd>
            </dl>

            <div class="form-row">
                <div class="col-md-3.0">
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </div>
                <a href="/Cotacao/Listar/" title="" class="btn btn-info">Voltar</a>
            </div>

        </div>

    </div>
</div>