@model SeguroViagem.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
</head>
<body id="Login">

    <div id="login-div">
        <!-- acction será /login/Autherize com method = post -->
        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <div class="Logo-Menor"><img src="~/fonts/Img/Logo Ben-Hur - Formato menor.jpg" /></div>
                    <td id="areaRestrita">Área restrita</td>
                </tr>

                @*<a href="/Seguradora/Listar/@item.SegId" title="" class="btn">
                        <i class="fas fa-trash"></i>
                    </a>*@
                <tr>
                    <td><span class="fas fa-user"></span></td>
                    <td>@Html.EditorFor(model => model.UserName, new{ @placeholder = "Usuário" })</td>
                </tr>
                <tr>
                    <td></td>
                    <!-- validando a msg criada com o [Required(ErrorMessage=""]) -->
                    <td>@Html.ValidationMessageFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td><span class="fas fa-key"></span></td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <!-- validando a msg criada com o [Required(ErrorMessage=""]) -->
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <!-- comando para sair a mensagem do LoginErrorMessage definida. -->
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="botaoLoginClean">
                        <input type="submit" name="Logar" value="Logar" />
                        <input type="reset" name="Limpar" value="Limpar" />
                    </td>
                </tr>
            </table>
        }

    </div>

    <!-- Para conseguirmos validar as mensagens, precisamos de alguns scripts -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
